* {
	background-color:#990099
}
#test {
	margin-right: 5px;
	padding-top: 5px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
	position:fixed;
	background-color:black;
	/* this is where I set my background color */
	font-size:20px;
	border-radius:5px
}
#SRayquaza {
	float:right;
}
li {
	/* I hope this counts */
	color:teal;
	font-size:15px;
	font-style:cursive;
	/* I didn't make a background color because when I did, it make it look ugly */
}